In [32]:
#Q1. Create one variable containing following type of data: (i) string (ii) list (iii) float (iv) tuple

In [33]:
a = "Puja"
b = [1,2,20,"dwiti","abc"]
c = 10.52
d = (20,"sony",11+2j,[11,55,20])

In [34]:
type(a)

str

In [35]:
type(b)

list

In [36]:
type(c)

float

In [37]:
type(d)

tuple

In [38]:
#Q2. Given are some following variables containing data: (i) var1 = ‘ ‘ (ii) var2 = ‘[ DS , ML , Python]’ (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] (iv) var4 = 1.What will be the data type of the above given variable.

In [39]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 =  ['DS','ML','Python']
var4 = 1.

In [40]:
type(var1)

str

In [41]:
type(var2)

str

In [42]:
type(var3)

list

In [43]:
type(var4)

float

In [44]:
#Q3. Explain the use of the following operators using an example: (i) / (ii) % (iii) // (iv) **

In [45]:
# / is division operator
20/2

10.0

In [46]:
# % is the module operator tell us the remainder of the division
20%2

0

In [48]:
# // floor division module
20//2

10

In [51]:
# ** is the power operator 
5**3

125

In [47]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [56]:
l = [11,63,"flower","fruit",253,10.43,21,"bus",7,"kurkuri"]

In [57]:
len(l)

10

In [58]:
for i in l :
    print("Element : " ,i,"\nData type :", type(i))
else:
    print("sucessfuly iterated across all the elements")

Element :  11
Data type : <class 'int'>
Element :  63
Data type : <class 'int'>
Element :  flower
Data type : <class 'str'>
Element :  fruit
Data type : <class 'str'>
Element :  253
Data type : <class 'int'>
Element :  10.43
Data type : <class 'float'>
Element :  21
Data type : <class 'int'>
Element :  bus
Data type : <class 'str'>
Element :  7
Data type : <class 'int'>
Element :  kurkuri
Data type : <class 'str'>
sucessfuly iterated across all the elements

In [59]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [60]:
a = 20
b = 4
while a%b==0 :
    print(a,"is purely divisible by " , b ,"and is divisible ",int((a/b)), "times")
    break
else:
    print(a , "is not purely divisible by ", b)

20 is purely divisible by  4 and is divisible  5 times

In [61]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [64]:
for i in range (1,26) :
    if (i%3 == 0):
        print(f"{i} is not divisible by 3")
    else :
            print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is not divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is not divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is not divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is not divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is not divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is not divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is not divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is not divisible by 3
25 is not divisible by 3

In [65]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [66]:
#A mutable object can be changed after it's created, and an immutable object can't changed.

In [67]:
name = "puja"

In [68]:
list = [40,10,"apple","group",3]

In [69]:
name[2]

'j'

In [71]:
name[3]

'a'

In [72]:
list[4]

3

In [73]:
list[2]

'apple'